extends ../layout/index

block contenido 
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-8
                div.space-y-5
                    h3.tex-lg.leading-9.font-medium.text-gray-900 Información General 
                    p.text-gray-600 Añade información sobre la propiedad en venta

                    div 
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="titulo") Titulo de Anuncio
                        input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Titulo propiedad, ej. Casa en la playa" type = "text" name="titulo")

          
